body {
  background-color: rgb(179, 230, 225);
}

/* fonts */
h1 {
  font-family: 'Amatic SC', cursive;
  text-align: right;
  font-size: 600%;
  padding: 0%;
  border: 0%;
  margin: 0%;
  margin-top: 8%;
}

h2 {
  font-family: 'Amatic SC', cursive;
  text-align: right;
  font-size: 300%;
  padding: 0%;
  border: 0%;
  margin: 0%;
  margin-bottom: 8%;
}

h3 {
  font-family: 'Amatic SC', cursive;
  text-align: left;
  font-size: 200%;
  margin: 0%;
}

p {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 150%;
  margin: 0%;
  padding-top: 5%;
}

a img {
  display: block;
  padding: 0%;
  margin: 0%;
  border: 0%;
}

.cover {
  object-fit: scale-down;
}

/* Other */

hr {
  border: none;
  height: 5px;
  color: black;
  background-color: #333;
}

img {
  max-height: 60%;
  max-width: auto;
}

nav a:hover {
  background-color: orange;
}

/* Containers */

.flex-top-menu {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 5%;
  margin-bottom: 0%;
  /*background-color:rgb(0, 255, 149)*/
}

/* the following code is for the navigation bar at the bottom of the page */

nav {
  /*background-color:blueviolet;*/
  margin-top: 0%;
  margin-bottom: 5%;
}

nav ul {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
  font-family: 'Amatic SC', cursive;
  text-align: left;
  font-size: 200%;
}

nav a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 0%;
}

a:hover {
  background-color: orange;
}

/* Now we use media query to make it look nicer for bigger screens*/

@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
  }

  nav li {
    flex: 1 1 0;
    text-align: center;
  }
}

/* Middle Section */

.float-container {
  display: flex;
  border: 3px solid rgba(255, 255, 255, 0);
  padding: 20px;
}

.float-childLeft {
  display: block;
  float: left;
  padding: 20px;
  flex-direction: column;
}

.float-childRight {
  width: 50%;
  float: right;
  padding: 20px;
}

/* 
/////////////////// */
/* The section below is for MyProjects tab*/

.polaroid a {
  background: #ffffff;
  display: inline-block;
  margin: 5px 5px 30px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}
.polaroid a:after {
  color: #333;
  font-size: 25px;
  font-family: 'Amatic SC';
  content: attr(title);
  position: relative;
  top: 15px;
}
.polaroid img {
  display: block;
  width: 250px;
}
.polaroid a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.smallImg {
  max-height: 10%;
  max-width: 10%;
}
